body {
  background: #0f0f0f;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 30px;
}

button {
  padding: 12px 18px;
  margin: 8px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#card {
  margin-top: 30px;
  border: 1px solid #444;
  padding: 20px;
  border-radius: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin-right: 8px;
}
#videoSection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#videoSection video {
  width: 45%;
  border-radius: 10px;
  background: black;
}
